In [1]:
import numpy as np
import matplotlib.pyplot as plt
import datajoint as dj
import os
import seaborn as sns
import pandas as pd

In [2]:
dj.list_schemas()

[2022-07-27 16:10:44,876][INFO]: Connecting jbreda@datajoint01.pni.princeton.edu:3306
[2022-07-27 16:10:45,096][INFO]: Connected jbreda@datajoint01.pni.princeton.edu:3306

['bdatatest',
 'bl_acquisition',
 'bl_action',
 'bl_bdata',
 'bl_lab',
 'bl_legacy_ephys',
 'bl_new_acquisition',
 'bl_new_action',
 'bl_new_ephys_element',
 'bl_new_lab',
 'bl_new_probe_element',
 'bl_new_subject',
 'bl_newlab',
 'bl_protocol',
 'bl_ratinfo',
 'bl_shadow_acquisition',
 'bl_shadow_action',
 'bl_shadow_lab',
 'bl_shadow_subject',
 'bl_subject',
 'ratinfotest']

In [4]:
ratinfotest = dj.create_virtual_module('ratinfo', 'ratinfotest')

In [5]:

# select animal
subject_session_key = {'ratname': 'R500'}

# make df
mass_df = pd.DataFrame((ratinfotest.Mass & subject_session_key).fetch(as_dict=True))

In [6]:
mass_df

    mass  weighing        date ratname tech         timeval
0      0   1077880  2022-07-08    R500   FW 0 days 16:49:47
1     25   1078546  2022-07-11    R500   JW 0 days 15:12:24
2     26   1078769  2022-07-12    R500   JW 0 days 09:48:10
3     26   1078998  2022-07-13    R500   JW 0 days 10:23:47
4     27   1079437  2022-07-15    R500   JL 0 days 13:26:42
5     26   1079662  2022-07-16    R500   JW 0 days 09:37:31
6     26   1079882  2022-07-17    R500   JW 0 days 09:16:34
7     24   1080026  2022-07-18    R500   JW 0 days 12:34:04
8     24   1080251  2022-07-19    R500   JW 0 days 10:48:39
9     25   1080464  2022-07-20    R500   JL 0 days 09:06:17
10    25   1080677  2022-07-21    R500   JL 0 days 09:34:53
11    24   1080883  2022-07-22    R500   JL 0 days 09:05:03
12    24   1081069  2022-07-23    R500   ER 0 days 09:20:56
13    23   1081177  2022-07-24    R500   ER 0 days 09:20:00
14    22   1081338  2022-07-25    R500   ER 0 days 09:37:04